<table id="tasks">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th class="hide-on-mobile">Added On</th>
            <th>Description</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasklist %}
        <tr class="{% if task.state == valid_states.IN_PROGRESS %}
                   task-in-progress
                   {% elif task.state == valid_states.COMPLETE %}
                   task-complete
                   {% endif %}">
            <td>
                <a hx-put="{{ url_for('.toggle_task_state', id=task.id) }}" href="#"
                        hx-target="#tasks" hx-swap="innerHTML" class="flat-a-btn">
                    <i class="icofont-check-alt"></i>
                </a>
            </td>
            <td>
                <a href="{{ url_for('.task_detail', id=task.id) }}">{{ task.name }}</a>
            </td>
            <td>{{ task.date_added.strftime('%d %b %y') }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.state }}</td>
            <td>
                <a hx-delete="{{ url_for('.delete_task', id=task.id) }}" href="#"
                        hx-target="#tasks" hx-swap="innerHTML" class="flat-a-btn"
                        hx-confirm="Are you sure you want to delete this task?">
                    <i class="icofont-duotone icofont-purge"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

