<table id="tasks">
    <thead>
        <tr>
            {% for column_name in column_names %}
            <th>{{ column_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for task in tasklist %}
        <tr>
            <td>
                <a href="{{ url_for('.task_detail', id=task.id) }}">{{ task.name }}</a>
            </td>
            <td>{{ task.date_added.strftime('%d %b %y') }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.state }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

